.logo {
  display: inline-block;
  color: var(--logo-color-text);
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  transition: var(--transition-color);
  &:hover,
  &:focus {
    color: var(--logo-accent-color);
    outline: transparent;
  }
}

.logo__colorized {
  color: var(--accent-color);
  transition: var(--transition-color);
  .logo:hover &,
  .logo:focus &,
  .footer__logo:hover &,
  .footer__logo:focus & {
    color: var(--logo-accent-color);
    outline: transparent;
  }
}

.footer__logo {
  margin-bottom: 20px;
  color: var(--white-text-color);
}
